$buyfresh-colors: (
    bodyBackgroundColor: #3D3530,
    appBackgroundColor: #3D3530,
    formBackgroundColor: #FFF,
    errorColor: #75302F,
    anchorColor: #0D294A,
    anchorHoverColor: #0D294A,
    anchorVisitedColor: #0D294A,
    textColor: #000,
    titleColor: #5C5C5D,
    labelColor: #000,
    inputColor: #000,
    buttonUp: #F4A069,
    buttonDown: #434343,
    buttonText: #FFF,
    strongColor: #9B9B9B,
    shadowColor: #434343,
    borderColor: #F4A069,
    addPeopleBg: #376F70,
    addPeopleText: #FFF,
    removePeopleBg: #D16463,
    removePeopleText: #FFF,
    backgroundTextColor: #FFF,
    logo: url(../skins/buyfresh/logo.png),
    externalImage: url(../skins/buyfresh/external.jpg)
);
