$buyfresh-colors: (
    bodyBackgroundColor: #3D3530,
    appBackgroundColor: #3D3530,
    formBackgroundColor: #FFF,
    sudoformBackgroundColor: #EEEEED,
    errorColor: #75302F,
    anchorColor: #0D294A,
    anchorHoverColor: #0D294A,
    anchorVisitedColor: #0D294A,
    textColor: #000,
    titleColor: #5C5C5D,
    labelColor: #000,
    inputColor: #5F9CA9,
    buttonUp: #F4A069,
    buttonDown: #434343,
    buttonGo: #5F9CA9,
    buttonText: #FFF,
    strongColor: #9B9B9B,
    shadowColor: #434343,
    borderColor: #F4A069,
    addPeopleBg: #F4A069,
    addPeopleText: #FFF,
    removePeopleBg: #D16463,
    removePeopleText: #FFF,
    backgroundTextColor: #FFF,
    crewTitleText: #000,
    crewText: #5F9CA9,
    logo: url(../skins/buyfresh/logo.png),
    externalImage: url(../skins/buyfresh/external.jpg),
    youreinImage: url(../skins/buyfresh/yourein.png)
);
