$background-color: #000;
$app-background: #FFF;
$error-color: #75302F;
$anchor-color: #0D294A;
$anchor-hover-color: #0D294A;
$anchor-visited-color: #0D294A;
$text-color: #000;
$title-color: #5C5C5D;
$label-color: #000;
$input-color: #000;
$button-up: #9B9B9B;
$button-down: #434343;
$button-text: #FFF;
$strong-color: #9B9B9B;
$shadow-color: #434343;
$border-color: #5C5C5D;

$add-people-bg: #376F70;
$add-people-text: #FFF;
$remove-people-bg: #D16463;
$remove-people-text: #FFF;