label, input {
    display: block;
}

label {
    color: #100D03;
    font-size: 22px;
    margin: 30px 0px 12px;
}

input {
    border: 0;
    font-size: 32px;
    color: #5F9CA9;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #CDAC78;
    padding: 8px;
    width: 338px;
}