@import '../skins/base.scss';

.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;

    .form-label {
        order: 0;
        font-size: 18px;
        margin: 30px 0px 0px;
        width: 100%;
        @include themify($themes) {
            color: themed('labelColor');
        }
    }
    .form-input {
        order: 1;
        border: 0;
        font-size: 32px;
        outline: 0;
        background: transparent;
        padding: 8px;
        width: 100%;
        @include themify($themes) {
            border-bottom: 2px solid themed('borderColor');
            color: themed('inputColor');
        }
    }
}