@import '../skins/base.scss';

.person {
    margin-bottom: 20px;
    &.form-group {
        @media (min-width: 768px) {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;

            .name, .email {
                width: 40%;
            }
        }
    }

    &.creator {
        @media (min-width: 768px) {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            .form-group {
                width: 45%;
                margin-right: 0;
            }
        }
    }

    .form-label {
        margin-top: 20px;
    }

    .form-input {
        font-size: 22px;
    }

    

    .person-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
        min-width: 60px;

        @media (min-width: 768px) {
            flex-direction: column;
        }

        button {
            border: none;
            height: 60px;
            width: 60px;
            text-align: center;
            border-radius: 30px;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            color: white;
            font-weight: bold;
            text-decoration: none;

            @include themify($themes) {
                background-color: themed('buttonUp');
            }

            &.add-people {
                @include themify($themes) {
                    background-color: themed('addPeopleBg');
                    color: themed('addPeopleText');
                }
                @media (min-width: 768px) {
                    margin-top: 40px;
                }
            }

            &.creator-btn {
                opacity: 0;
            }

            &.remove-person {
                @include themify($themes) {
                    background-color: themed('removePeopleBg');
                    color: themed('addPeopleText');
                }
                @media (min-width: 768px) {
                }
            }
        }
    }

}