/* The switch - the box around the slider */
.optin {
    &.form-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;

        .switch {
            margin: 16px 0;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 60px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider-offtext, .slider-ontext {
        color: white;
        display: inline-block;
        position: relative;
        left: 70px;
        width: 100px;
        text-align: left;
        margin: 10px 0;
    }

    .slider-offtext {
        left: 0px;
        text-align: right;
        margin: 20px;
    }

   
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5F9CA9;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 50px;
        width: 50px;
        left: 8px;
        bottom: 5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        z-index: 1;
    }
}

input {
    &:checked + .slider-offtext {
        display: none;
    }
    &:checked + .slider {
        background-color: #F38887;
    }

    &:focus + .slider {
        box-shadow: 0 0 1px #F38887;
    }

    &:checked + .slider:before {
        -webkit-transform: translateX(134px);
        -ms-transform: translateX(134px);
        transform: translateX(134px);
    }
}

.slider.round {
    border-radius: 34px;

    &:before {
        border-radius: 50%;
    }
}