@import '../skins/base.scss';

.crew-title {
    color: $title-color;
    text-transform: uppercase;
    width: 100%;
}
.member {
    font-size: 32px;
    margin: 16px 0;
    width: 100%;
    text-align: center;

    .name {
        margin: 0 25%;
        width: 50%;
        color: $text-color;
    }
}
.crew {
    text-align: center;
}
.header {
    margin-top: -200px;
    margin-left: 50px;
    width: 600px;
}
img.tree {
    margin-left: 80px;
}