@import '../skins/base.scss';

.app-container {
    .status-container{
        .sudo-form-container {
            margin-top: 100px;

            .go {
                button {
                    height: 40px;
                    margin-bottom: 40px;
                    font-size: 18px;
                    @include themify($themes) {
                        background-color: themed('buttonUp');
                    }
                }
            }
        }
    }
}

.app-container {
    .optin-container {
        .sudo-form-container {
            margin-top: 30px;
        }
    }
}

.app-container {
    .status-container, .optin-container {
        .sudo-form-container {

            .yourein {
                display: flex;
                margin: -100px auto 0px;
                height: 232px;
                width: 300px;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                @include themify($themes) {
                    background-image: themed('youreinImage');
                }
            }

            .crew-title {
                font-size: 24px;
                font-weight: bold;
                width: 100%;
                @include themify($themes) {
                    color: themed('crewTitleColor');
                }
            }

            .crew {
                margin-top: 50px;
                text-align: center;   
                .name {
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 200; 
                    @include themify($themes) {
                        color: themed('crewText');
                    }
                }
            }
            .member {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                font-size: 32px;
                margin: 16px 0;
                width: 100%;
                text-align: center;

                .confirmed {
                    margin: 0 0 0 6px;

                    svg {
                        path {
                            @include themify($themes) {
                                fill: themed('strongColor');
                                opacity: 0.3;
                            }
                        }
                    }
                }
            }
            .header {
                margin-top: -200px;
                margin-left: 50px;
                width: 600px;
            }
            img.tree {
                margin-left: 80px;
            }
            .status-text {
                margin: 40px 20px;
                text-align: center;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}


