@import '../skins/base.scss';

body {
    background-color: $background-color;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
}

.app-container {
    background-color: $app-background;
    box-shadow: 4px 4px 16px $border-color;
    border-radius: 20px;
    margin: 30px auto;
    padding: 50px 20px;
    width: 300px;

    @media (min-width: 768px) {
        width: 500px;
        margin: 120px auto;
    }

    .go {
        width: 100%;

        button {
            margin: 0 10%;
            width: 80%;

            height: 100px;
            background-color: $button-up;
            border-radius: 20px;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 24px;
        }
    }

}