body {
    background-color: #F38887;
    background-image: url('../images/xmas_stuff.png');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
}

.app-container {
    background-color: white;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.14);
    border-radius: 20px;
    margin: 30px auto;
    padding: 20px;
    width: 300px;

    @media (min-width: 768px) {
        width: 500px;
        margin: 120px auto;
    }

    .go {
        width: 100%;

        button {
            margin: 0 10%;
            width: 80%;

            height: 100px;
            background-color: #5F9CA9;
            border-radius: 20px;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 24px;
        }
    }

}