@import '../skins/base.scss';


.sign-me-up {
    margin-bottom: 50px;
}

.intro {
    font-size: 24px;
    text-align: center;
    margin: 0 20px;
    @include themify($themes) {
        color: themed('textColor');
    }

    @media (min-width: 768px) {
        margin: 0 60px;
    }

    .intro-creator {
        @include themify($themes) {
            color: themed('strongColor');
        }
    }
}

.app-container {
    .optin-container {
        .terms {
            @include themify($themes) {
                color: themed('textColor');
            }
        }
        .intro-container {
            margin-bottom: 0;
            .title {
                margin-top: 40px;
                font-size: 24px;
            }
        }
    }
}