@import '../skins/base.scss';

.setup-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 100px;

    .group, .spend {
        width: 100%;
    }

    .title {
        @include themify($themes) {
            color: themed('backgroundTextColor');
        }
        font-size: 24px;
        line-height: 32px;
        width: 256px;
        margin: 10px auto 30px;
        text-align: center;
    }

    .cutoff {
        .form-group {
            margin-bottom: 30px;
        }

         label {
             margin-top: 0px;
         }
    }
}

.people {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 40px 0;

    .people-title {
        text-transform: uppercase;
        @include themify($themes) {
            color: themed('titleColor');
        }
    }
}

.intro-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @include themify($themes) {
        background-image:
            linear-gradient(
                themed('externalOverlay'), 
                themed('externalOverlay')
            ),
            themed('externalImage');
    }

    @include themify($themes) {
        color: themed('backgroundTextColor');
    }
    .intro {
        p {
            font-size: 18px;
            line-height: 24px;
            @include themify($themes) {
                color: themed('backgroundTextColor');
            }
        }
    }
    .campaign-link {
        display: flex;
        margin: 20px 0;
        height: 180px;

        button {
            margin: auto auto;
            width: 192px;
            height: 40px;
            border-radius: 20px;
            border: none;
            color: white;
            cursor: default;
            font-size: 16px;
            @include themify($themes) {
                background-color: themed('buttonUp');
            }
        }
    }
}

